millionaire/__pycache__/
millionaire/Quiz/__pycache__/
millionaire/Quiz/migrations/__pycache__
millionaire/millionaire/__pycache__/urls.cpython-39.pyc
millionaire/Quiz/__pycache__/views.cpython-39.pyc
millionaire/millionaire/__pycache__/urls.cpython-39.pyc
millionaire/Quiz/__pycache__/models.cpython-39.pyc
millionaire/Quiz/__pycache__/views.cpython-39.pyc
