{% extends 'Quiz/dependencies.html' %} {% block content %} {% load static %}
<style>
	.btn {
		background-color: #4D96BF;
		border-color: #a3e6ff;
		color: #d4f1fd;
		margin: auto;
		float: right;
		margin-left: 5px;
	}

	.btn:hover {
		background-color: #7631F0;
	}

	.points {
		float: right;
	}

	.form-group {
		padding: 0%;
		margin: 0;
	}

	.submit {
		float: none;
		padding: 15px 40px;
		background-color: #BD8E24;
		border-color: #FFE884;
		color: #050543;
		font-weight: 900;
		font-size: x-large;
	}

	.form-check-input {
		accent-color: #BD8E24;
	}
</style>
<div class="container">
	<h1>WHO WANTS TO BE A MILLIONAIRE</h1>

	<div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
	<button id="pause-game" class="btn btn-primary" onclick="togglePause();">Pause</button>

	{% for question in page_obj %}
	<form method="post" action="">
		{% csrf_token %}
		<div class="form-group">
			<label for="question">{{question}}</label>
		</div>
		<div>
			<label for="point-value">${{question.point_value}}</label>
		</div>
		<button type="button" action="/fifty_fifty_lifeline" class="btn btn-primary">
			50/50
		</button>
		<button type="button" action="/phone_friend" class="btn btn-primary">
			Phone a Friend
		</button>
		<div class="form-check">
			<div class="form-check">
				<input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios1"
					value="option1" />
				<label class="form-check-label" for="gridRadios1">
					{{question.op1}}
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios2"
					value="option2" />
				<label class="form-check-label" for="gridRadios2">
					{{question.op2}}
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios3"
					value="option3" />
				<label class="form-check-label" for="gridRadios3">
					{{question.op3}}
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="{{question.question}}" id="gridRadios4"
					value="option4" />
				<label class="form-check-label" for="gridRadios4">
					{{question.op4}}
				</label>
			</div>
			<br />
		</div>
		<br />
		<button type="submit" class="btn btn-primary">Lock In Answer</button>

		{% endfor %}
		<imput type="hidden" id="timer" name="timer" value=""></imput>
		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
				<a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
				{% endif %}
				<span class="current">
					Question {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
				</span>
				{% if page_obj.has_next %}
				<a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
				{% endif %}
			</span>
		</div>
	</form>
	{% block script %}
	<script>
		console.log("hello world");
		const timer = document.getElementById("displaytimer");
		console.log(timer.textContent);
		const inputtag = document.getElementById("timer");
		timer.isPaused = false;
		t = 60;
		setInterval(() => {
			if (t > 0 && !timer.isPaused) {
				t -= 1;
				timer.innerHTML = "<b>Timer: " + t + " seconds</b>";
				inputtag.value = t;
			} else {
				timer.innerHTML = "<b>Timer: " + t + " seconds </b>";
				inputtag.value = t;
			}
		}, 1000);

		function togglePause() {
			timer.isPaused = !timer.isPaused; //changes pause state
			var btnTxt = timer.isPaused ? "Resume" : "Pause";
			$("#pause-game").html(btnTxt);
			// $(".answer-btn").attr("disabled", trivia.isPaused); //disable answer buttons when paused.
		}
	</script>
	{% endblock script %}
</div>
{% endblock %}