{% extends 'Quiz/dependencies.html' %} {% block content %} {% load static %}
<div class="container">
	<h1>WHO WANTS TO BE A MILLIONAIRE</h1>

	<!-- <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
	<button type="button" class="btn btn-primary">Pause Timer</button> -->

	{% for question in page_obj %}
	<form method="post" action="">
		{% csrf_token %}
		<div class="form-group">
			<label for="question">{{question}}</label>
		</div>
		<div>
			<label for="point-value">Question Worth: ${{question.point_value}}</label>
		</div>
		<button
			type="button"
			action="/fifty_fifty_lifeline"
			class="btn btn-primary"
		>
			50/50
		</button>
		<button type="button" action="/phone_friend" class="btn btn-primary">
			Phone a Friend
		</button>
		<p>Current Winnings: ${{score}}</p>
		<div class="form-check">
			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					name="{{question.question}}"
					id="gridRadios1"
					value="option1"
				/>
				<label class="form-check-label" for="gridRadios1">
					{{question.op1}}
				</label>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					name="{{question.question}}"
					id="gridRadios2"
					value="option2"
				/>
				<label class="form-check-label" for="gridRadios2">
					{{question.op2}}
				</label>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					name="{{question.question}}"
					id="gridRadios1"
					value="option3"
				/>
				<label class="form-check-label" for="gridRadios1">
					{{question.op3}}
				</label>
			</div>
			<div class="form-check">
				<input
					class="form-check-input"
					type="radio"
					name="{{question.question}}"
					id="gridRadios2"
					value="option4"
				/>
				<label class="form-check-label" for="gridRadios2">
					{{question.op4}}
				</label>
			</div>
			<br />
		</div>
		<br />
		<button type="submit" class="btn btn-primary">Lock In Answer</button>
		{% endfor %}
		<div class="pagination">
			<span class="step-links">
				{% if page_obj.has_previous %}
				<a
					class="btn btn-primary"
					href="?page={{ page_obj.previous_page_number }}"
					>Previous</a
				>
				{% endif %}
				<span class="current">
					Question {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
				</span>
				{% if page_obj.has_next %}
				<a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}"
					>Next</a
				>
				{% endif %}
			</span>
		</div>
	</form>
	{% block script %}
	<script>
		console.log("hello world");
		const timer = document.getElementById("displaytimer");
		console.log(timer.textContent);
		const inputtag = document.getElementById("timer");

		t = 80;
		setInterval(() => {
			if (t > 0) {
				t -= 1;
				timer.innerHTML = "<b>Timer: " + t + " seconds</b>";
				inputtag.value = t;
			} else {
				timer.innerHTML = "<b>Timer: Times Up!</b>";
				inputtag.value = t;
			}
		}, 1000);
	</script>
	{% endblock script %}
</div>
{% endblock %}
